/*
General Styles
*/

@import url('https://fonts.googleapis.com/css2?family=Yaldevi&display=swap');

/* Homepage */

html, body {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  height: 100%;
}

.title {
  position: absolute;
  top: 45%;
  left: 60%;
  color: white;
  letter-spacing: 10px;
  text-align: center;
  font-family: 'Yaldevi', sans-serif;
  font-size: 32px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 114, 213, 0.9);
  width: 100%;
}

.navbar li {
  float: right;
  padding-right: 18px;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Yaldevi', sans-serif;
  letter-spacing: 3px;
  position: relative;
  z-index: 10;
}

.navbar li a:hover:not(.active) {
  background-color: rgba(0, 114, 213, 0.9);
}

/* Subjects */

.subjectheading {

  font-family: 'Yaldevi', sans-serif;
  font-size: 30px;
  letter-spacing: 3px;
  color: #000;
  text-align: center;
  margin-top: 75px;

}

.toggle-box {
    margin: 0 auto;
    width: 700px;
    margin-top: 50px;
    position: absolute;
    left: 50%;
   transform: translate(-50%,0);
}

.toggle-box p {

  font-family: 'Yaldevi', sans-serif;

}

.toggle-title {
    width: 700px;
    margin-bottom: 10px;
    padding: 10px;
    background: #ffffff;
    border: 1px solid rgb(31, 118, 208);
    cursor: pointer;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-family: 'Yaldevi', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
}

.toggle-title:hover,
.toggle-title:active {
    background: rgb(31, 118, 208);
    color: white;
}

.active {
    background: rgb(31, 118, 208);
    color: white;
}

.toggle-title a {
    color: #111;
}

.toggle-content {
    padding-bottom: 10px;
}

.toggle-content a {

  text-decoration: none;

}

/* Media queries */

@media (max-width: 700px) {

  .navbar, ul, li {

    display: flex;
    flex-direction: column;
    width: 100%;

  }

  .title {

    left: 40%;
    width: 300px;

  }

  .toggle-title {

    width: 350px;
    margin: 0 auto;

  }

  .toggle-content {

    text-align: center;

  }

}

/* 
Homepage Animations
*/
.title {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

#container {
  background: #00adef;
  background: -moz-linear-gradient(-45deg, #00adef 0%, #0076e5 100%);
  background: -webkit-linear-gradient(-45deg, #00adef 0%, #0076e5 100%);
  background: linear-gradient(135deg, #00adef 0%, #0076e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adef', endColorstr='#0076e5',GradientType=1);
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0px auto;
  padding: 0px auto;
}

#container-inside {
  position: fixed;
  min-width: 960px;
  max-width: 1280px;
  height: auto;
  min-height: 100%;
  margin: 0px auto;
  padding: 0px auto;
  overflow: visible;
}

#circle-small {
  -webkit-animation: circle-small-scale 3s ease-in-out infinite alternate;
  animation: circle-small-scale 3s ease-in-out infinite alternate;
  animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
  animation-delay: 0s;
  position: absolute;
  top: 200px;
  left: -150px;
  background: #fff;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  opacity: 0.4;
}

#circle-medium {
  -webkit-animation: circle-small-scale 3s ease-in-out infinite alternate;
  animation: circle-small-scale 3s ease-in-out infinite alternate;
  animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
  animation-delay: 0.3s;
  position: absolute;
  top: 50px;
  left: -300px;
  background: #fff;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  opacity: 0.3;
}

#circle-large {
  -webkit-animation: circle-small-scale 3s ease-in-out infinite alternate;
  animation: circle-small-scale 3s ease-in-out infinite alternate;
  animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
  animation-delay: 0.6s;
  position: absolute;
  top: -100px;
  left: -450px;
  background: #fff;
  width: 900px;
  height: 900px;
  border-radius: 50%;
  opacity: 0.2;
}

#circle-xlarge {
  -webkit-animation: circle-small-scale 3s ease-in-out infinite alternate;
  animation: circle-small-scale 3s ease-in-out infinite alternate;
  animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
  animation-delay: 0.9s;
  position: absolute;
  top: -250px;
  left: -600px;
  background: #fff;
  width: 1200px;
  height: 1200px;
  border-radius: 50%;
  opacity: 0.1;
}

#circle-xxlarge {
  -webkit-animation: circle-small-scale 3s ease-in-out infinite alternate;
  animation: circle-small-scale 3s ease-in-out infinite alternate;
  animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
  animation-delay: 1.2s;
  position: absolute;
  top: -400px;
  left: -750px;
  background: #fff;
  width: 1500px;
  height: 1500px;
  border-radius: 50%;
  opacity: 0.05;
}

@-webkit-keyframes circle-small-scale {
  0% {
      -webkit-transform: scale(1);
  }
  100% {
      -webkit-transform: scale(1.1);
  }
}

@keyframes circle-small-scale {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.1);
  }
}
